<form [formGroup]="form" novalidate>
  <p-card header="Grades de Agendamento">
    <div class="grid p-fluid">
      <div class="col-12 md:col-12 lg:col-3">
        <p-dropdown id="ddEspecialidade" placeholder="Especialidade" [options]="especialidades" formControlName="espId"
          optionLabel="descricao" optionValue="id"></p-dropdown>
      </div>

      <div class="col-12 md:col-12 lg:col-1">
        <p-inputNumber formControlName="valor" mode="currency" currency="BRL" [maxFractionDigits]="2" locale="pr-BR">
        </p-inputNumber>
      </div>

      <div class="col-12 md:col-6 lg:col-1">
        <p-button label="Gravar" icon="pi pi-save" (click)="onAdd()"></p-button>
      </div>
    </div>

    <br />
    <br />


    <p-table [value]="grades" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Especialidade</th>
          <th>Criado Em</th>
          <th>Situação</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-grade>
        <tr>
          <td>{{grade.id}}</td>
          <td>{{grade.especialidade.descricao}}</td>
          <td>{{grade.criadoEm | date: 'dd-MM-yy'}}</td>
          <td>
            <p-inputSwitch formControlName="situacao" [readonly]="true"></p-inputSwitch>
          </td>
          <td>
            <button pButton pRipple type="button" label="Gerar Horários" icon="pi pi-calendar-plus"
              class="button-acao p-button-sm p-button-rounded p-button-success p-button-outlined"></button>
            <button pButton pRipple type="button" label="Manter Horários"
              (click)="manterConsultas.pesquisarConsultasPorGrade(grade.id); showDialog()" icon="pi pi-calendar"
              class="button-acao p-button-sm p-button-rounded p-button-info p-button-outlined"></button>
            <button pButton pRipple type="button" label="Desativar" icon="pi pi-power-off"
              class="button-acao p-button-sm p-button-rounded p-button-danger p-button-outlined"></button>

          </td>
        </tr>
      </ng-template>
    </p-table>


    <p-dialog header="Horários Disponíveis" [(visible)]="display" [modal]="true" [draggable]="false"
      [resizable]="false">
      <app-manter-consultas #manterConsultas></app-manter-consultas>
    </p-dialog>

  </p-card>
</form>
