<p-table [value]="consultas" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Especialidade</th>
      <th>Data</th>
      <th>Horário</th>
      <th>Situação</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consulta>
    <tr>
      <td>{{consulta.id}}</td>
      <td>{{consulta.gradeConsulta.especialidade.descricao}}</td>
      <td>{{consulta.horarioConsulta | date: 'dd-MM-yy' }}</td>
      <td>{{consulta.horarioConsulta | date: 'HH:mm' }}</td>
      <td>
        <p-badge value="{{consulta.situacao == 'L' ? 'LIVRE' : 'MARCADA'}}"
          severity="{{consulta.situacao == 'L' ? 'success' : 'info'}}"></p-badge>
      </td>
      <td>
        <button pButton pRipple type="button" label="Agendar Paciente" icon="pi pi-calendar-plus"
          class="button-acao p-button-sm p-button-rounded p-button-info p-button-outlined"></button>
      </td>
      <td><button pButton pRipple type="button" (click)="onDelete(consulta.id)" label="Excluir" icon="pi pi-trash"
          class="button-acao p-button-sm p-button-rounded p-button-danger p-button-outlined"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog header="Atenção!" icon="pi pi-exclamation-triangle" acceptLabel="Sim" (closable)="true"
  rejectLabel="Não"></p-confirmDialog>
