<p-card header="Minhas Consultas">
  <p-table [value]="consultas" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Especialidade</th>
        <th>Data</th>
        <th>Horário</th>
        <th>Situação</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-consulta>
      <tr>
        <td>{{consulta.gradeConsulta.especialidade.descricao}}</td>
        <td>{{consulta.horarioConsulta | date: 'dd-MM-yy' }}</td>
        <td>{{consulta.horarioConsulta | date: 'HH:mm' }}</td>
        <td> <p-badge value="{{consulta.situacao == 'L' ? 'LIVRE' : 'MARCADA'}}"
          severity="{{consulta.situacao == 'L' ? 'success' : 'info'}}"></p-badge></td>
        <td>
          <button pButton pRipple type="button" label="Remarcar"
          icon="pi pi-clock" class="button-acao p-button-rounded p-button-warning "></button>

          <button pButton pRipple type="button" label="Desmarcar" (click)="desmarcarConsulta(consulta)"
          icon="pi pi-trash" class="button-acao p-button-rounded p-button-danger "></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<p-confirmDialog header="Atenção!" icon="pi pi-exclamation-triangle" acceptLabel="Sim" (closable)="true"
  rejectLabel="Não"></p-confirmDialog>

