<form [formGroup]="form" novalidate>
<p-card header="Crie sua conta profissional">
  <br />

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <input id="txtNome" type="text" pInputText />
        <label for="txtNome">Nome</label>
      </span>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <input id="txtSobrenome" type="text" pInputText />
        <label for="txtSobrenome">Sobrenome</label>
      </span>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <input id="txtEmail" type="email" pInputText />
        <label for="txtEmail">Email</label>
      </span>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <input id="txtSenha" type="password" pInputText />
        <label for="txtSenha">Senha</label>
      </span>
    </div>

    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <input id="txtConfirmaSenha" type="password" pInputText />
        <label for="txtConfirmaSenha">Confirmar senha</label>
      </span>
    </div>
  </div>

  <p-divider align="left"> Dados pessoais </p-divider>

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <input id="txtNomeSocial" type="text" pInputText />
        <label for="txtNomeSocial">Nome Social</label>
      </span>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
      <p-dropdown
        id="dpSexo"
        [options]="optSexo"
        placeholder="Sexo"
        optionLabel="descricao"
      ></p-dropdown>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <p-calendar></p-calendar>
        <label for="txtSobrenome">Data de Nascimento</label>
      </span>
    </div>
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <p-inputMask id="txtCpf" mask="999.999.999-99"></p-inputMask>
        <label for="txtCpf">CPF</label>
      </span>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <p-inputMask id="txtCelular" mask="(99) 99999-9999"></p-inputMask>
        <label for="txtCelular">Telefone</label>
      </span>
    </div>

    <div class="col-12 md:col-6 lg:col-2">
      <span class="p-float-label">
        <p-inputMask id="txtCrm" mask="99.999/aa"></p-inputMask>
        <label for="txtCrm">CRM</label>
      </span>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-4">
      <p-dropdown
        id="dpSexo"
        [options]="especialidades"
        placeholder="Especialidade"
        optionLabel="descricao"
      ></p-dropdown>
    </div>
  </div>

  <p-divider align="left"> Contato </p-divider>

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
        <p-inputMask id="txtCep" placeholder="CEP"
        formControlName="cep" mask="99999-999" (onComplete)="pesquisarEnderecoViaCep()"></p-inputMask>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-4">
        <input id="txtLogradouro" placeholder="Logradouro" formControlName="logradouro" type="text" pInputText />
    </div>

    <div class="col-12 md:col-6 lg:col-1">
        <input id="txtNumero" type="text" formControlName="numero" placeholder="Número" pInputText />
    </div>

    <div class="col-12 md:col-6 lg:col-2">
        <input id="txtComplemento" type="text" formControlName="complemento" placeholder="Complemento" pInputText />
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-6 lg:col-2">
        <input id="txtBairro" formControlName="bairro" placeholder="Bairro" type="text" pInputText />
    </div>

    <div class="col-12 md:col-6 lg:col-2">
        <input id="txtCidade" formControlName="localidade" placeholder="Cidade" type="text" pInputText />
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <input id="txtEstado" placeholder="Estado" formControlName="uf" type="text" pInputText />
    </div>


  </div>
</p-card>
</form>
