<mat-form-field appearance="standard">
  <mat-label>Pesquisar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Cardiologia" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <ng-container matColumnDef="especialidade">
    <th mat-header-cell *matHeaderCellDef> Especialidade </th>
    <td mat-cell *matCellDef="let element"> {{element.especialidade.nome}} </td>
  </ng-container>


  <ng-container matColumnDef="dtConsulta">
    <th mat-header-cell *matHeaderCellDef> Data Consulta </th>
    <td mat-cell *matCellDef="let element"> {{element.dtConsulta}} </td>
  </ng-container>


  <ng-container matColumnDef="medico">
    <th mat-header-cell *matHeaderCellDef> Médico </th>
    <td mat-cell *matCellDef="let element"> {{element.medico.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="agendar">
    <th mat-header-cell *matHeaderCellDef>Agendar</th>
    <td mat-cell *matCellDef="let c">
      <button mat-raised-button color="warn" >
        Agendar
        <mat-icon>check</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
