<p-card>
<p-table [value]="consultas" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>Especialidade</th>
          <th>Data Disponível</th>
          <th>Médico</th>
          <th>Endereço</th>
          <th>Agendar</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consulta>
      <tr>
          <td>{{consulta.especialidade.descricao}}</td>
          <td>{{consulta.dtConsulta}}</td>
          <td>{{consulta.medico.nome}}</td>
          <td>{{consulta.medico.endereco}}</td>
          <td><p-button label="Agendar" icon="pi pi-check" iconPos="right"></p-button></td>
      </tr>
  </ng-template>
</p-table>
</p-card>
