<p-card header="Agendamento de Consultas">
  <p-table [value]="grades" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem;"></th>
        <th style="width: 20rem;">Especialidade</th>
        <th>Médico</th>
        <th>Estado</th>
        <th>Avaliação</th>
        <th></th>

      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter placeholder="Ex. Cardiologia" type="text" field="especialidade.descricao"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter placeholder="Ex. Dr. Fulano" type="text" field="medico.nomeSocial"></p-columnFilter>
        </th>
        <th>
          <p-dropdown [options]="estados" optionLabel="nome"></p-dropdown>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-grade let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="grade"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>
          {{grade.especialidade.descricao}}</td>
        <td>{{grade.medico.nomeSocial}}</td>
        <td>{{grade.medico.estado}}</td>
        <td>
          <p-rating [cancel]="false" ngModel="{{grade.medico.notaAvaliacao}}" [readonly]="true"></p-rating>
        </td>
        <td>
          <button pButton pRipple type="button" label="Horários"
            (click)="agendamento.listarConsultasParaAgendamento(grade); showDialog();"
            icon="pi pi-calendar" class="button-acao p-button-rounded p-button-info p-button-outlined"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-consulta>
      <p>Conteudo </p>
    </ng-template>
  </p-table>
</p-card>


<p-dialog header="Horários Disponíveis" [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false">
  <app-agendar-consultas #agendamento></app-agendar-consultas>
</p-dialog>
