<mat-card>
  <mat-card-title>Agendamento de Consultas</mat-card-title>
  <mat-card-subtitle>Agende consultas sem sair de casa. Fácil, rápido e seguro. </mat-card-subtitle>

  <mat-card-content>
    <form>
      <mat-form-field>
        <input  type="text"
                placeholder="Especialidade"
                (formControl)="myControl"
                matInput
                [matAutocomplete]="auto">

         <mat-autocomplete #auto="matAutocomplete">
             <mat-option
                 *ngFor="let option of filteredOptions | async"
                 [value]="option.nome">
               {{option.nome}}
            </mat-option>
        </mat-autocomplete>
     </mat-form-field>

      <button mat-raised-button color="primary" style="margin-left: 2%;">
        Buscar agendas
        <mat-icon>search</mat-icon>
      </button>
    </form>



  </mat-card-content>
</mat-card>
