<p-card header="Horários Disponíveis">
  <p-table [value]="consultas" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Especialidade</th>
            <th>Data / Horário</th>
            <th>Situação</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-consulta>
        <tr>
            <td>{{consulta.Id}}</td>
            <td></td>
            <td>{{consulta.horarioConsulta}}</td>
            <td>{{consulta.situacao}}</td>
            <td></td>
        </tr>
    </ng-template>
</p-table>

</p-card>
