<form [formGroup]="formEndereco"  novalidate>
<div class="stepsdemo-content">
  <p-card>
    <div class="p-fluid grid">
      <div class="field col-12 md:col-2">
        <span class="p-float-label">
          <p-inputMask id="txtCep" mask="99999-999" formControlName="cep" (onComplete)="pesquisarEnderecoViaCep()"></p-inputMask>
          <label for="txtCep">CEP</label>
        </span>
      </div>
      </div>

    <ng-template pTemplate="footer">
      <div class="grid grid-nogutter justify-content-end" >
        <p-button label="Recuar"  icon="pi pi-angle-left" (onClick)="prevPage()" ></p-button>
        <p-button label="Avançar"   icon="pi pi-angle-right" (onClick)="nextPage()"  iconPos="right"></p-button>
    </div>
    </ng-template>
  </p-card>
</div>
</form>
